{% extends 'global/main.html' %}
{% load static %}
{% block content %}
{% include "global/_modal.html" %}
{% include "global/modal_rf_shielding_copper.html" %}
{% include "global/modal_rf_shielding_galv.html" %}
{% include "global/modal_rf_chambers.html" %}
{% include "global/modal_rad_shielding_rolls.html" %}
{% include "global/modal_rad_shielding_sheets.html" %}
{% include "global/modal_rad_shielding_bricks.html" %}
{% include "global/modal_therapy_sliding_door.html" %}
{% include "global/modal_therapy_swing_door.html" %}
{% include "global/modal_pd_shielding.html" %}
{% include "global/modal_lead_enclosures.html" %}

<style>
    .carousel-indicators li {
        width: 18px;
        max-width: 18px;
        height: 18px;
        max-height: 18px;
        margin: 3px;
        background-color: none;
        border: 2px solid #11495F;
        border-radius: 100%;
        opacity: .5;
        transition: all .3s;
    }

    .carousel-indicators li.active,
    .carousel-indicators li:hover {
        opacity: .9;
        background-color: #1b87b0;
    }

    .carousel-indicators {
        top: 5px;
        height: 18px
    }

    .title-container-blue,
    .title-container-yellow {
        margin-top: 50px;

    }



    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        position: absolute;
        top: 300px;
        z-index: 1;
        width: 40px;
        height: 40px;
        filter: invert(50%);
    }

    @media not all and (max-width: 992px) {
        .carousel-control-next-icon {
            left: 65px;
        }

        .carousel-control-prev-icon {
            right: 65px;
        }
    }

    @media only screen and (max-width: 400px) {
        .display-4 {
            font-size: 2em;
        }

        .lead {
            font-size: 1em;
        }
    }

    .border-3 {
        border-width: 3px !important;
    }

    .icon-background {

        top: 60px;

    }
</style>

<!-- start request a quote -->
<div class="container">
    <div class="row">
        <div class="col-lg-6 text-left">
            <div class="container">
                <img class="w-100 mb-2" src="{% static 'images/gps_light_logo.svg' %}">
                <h1 class="display-4">We offer innovative solutions for your shielding needs</h1>
                <p class="lead">Need a quote? Give us a bit of detail on your project and let us help!</p>
                <a class="btn btn-primary mt-3 mb-4" href="{% url 'request_quote' %}" style="width:200px">Get
                    Started</a>
            </div>
        </div>
        <div class="col-lg-6 text-left">
            <div id="carouselIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
                <ol class="carousel-indicators">
                    <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselIndicators" data-slide-to="2"></li>
                    <li data-target="#carouselIndicators" data-slide-to="3"></li>
                    <li data-target="#carouselIndicators" data-slide-to="4"></li>
                    <li data-target="#carouselIndicators" data-slide-to="5"></li>
                    <li data-target="#carouselIndicators" data-slide-to="6"></li>
                    <li data-target="#carouselIndicators" data-slide-to="7"></li>
                </ol>
                <div class="carousel-inner h-100">
                    <div class="carousel-item active">
                        <div class="d-block w-100" alt="First slide">
                            <div class="title-container-blue">
                                <h1 class="display-4">MRI/RF Shielding</h1>
                            </div>
                            <img src="{% static 'images/mri_icon.svg' %}" alt="" class="icon-background">
                            <h5 class="lead"><strong><u>Galvanized</u></strong></h5>
                            <p class="lead">
                                The modular structure is traditionally used for high performance shielding.
                                Panels are galvanized sheet steel bonded to a wood core that are attached
                                via framing joints.
                            </p>
                            <!-- Button trigger modal -->
                            <div class="text-center">
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#galvModal">
                                    Read More <i class="fas fa-arrow-right"></i>
                                </button>
                            </div>
                            <hr>
                            <h5 class="lead"><strong><u>Copper</u></strong></h5>
                            <p class="lead">This non-ferrous enclosure is ideal for shielding applications with
                                restricted site access.
                                The lightweight copper makes for easy navigation through job sites with limited space.
                                Copper sheets attached to a plywood substrates and the copper is soldered together at
                                all seams.
                            </p>
                            <!-- Button trigger modal -->
                            <div class="text-center">
                                <button type="button" class="btn btn-primary mb-4" data-toggle="modal"
                                    data-target="#copperModal">
                                    Read More <i class="fas fa-arrow-right"></i>
                                </button>
                            </div>
                            <div class='mb-2'>
                                &nbsp;
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="d-block w-100" alt="Second slide">
                            <div class="title-container-yellow">
                                <h1 class="display-4">RF Chambers</h1>
                            </div>
                            <img src="{% static 'images/mircowave_icon.svg' %}" alt="" class="icon-background">
                            <h5 class="lead"><strong><u>Galvanized</u></strong></h5>
                            <p class="lead">
                                The modular structure is traditionally used for high performance shielding. Panels are
                                galvanized sheet steel
                                bonded to a wood core that are attached via framing joints. The RF panel system is
                                typically supported via
                                threaded rod and dielectric isolators attached to the deck above or can be
                                self-supported using C-joists.
                                The RF galvanized flooring system consists of galvanized steel panels installed over a 6
                                mil vapor barrier
                                and layers on Masonite (used as an isolator and filler between the framing channels).
                                The top of the RF
                                panel is then filled with VCT leveling tiles flushing the floor with the profile of the
                                framing channels;
                                providing a sub-surface ready to accept finish flooring by others.
                            </p>
                            <!-- Button trigger modal -->
                            <div class="text-center">
                                <button type="button" class="btn btn-primary mb-4" data-toggle="modal"
                                    data-target="#chamberModal">
                                    Read More <i class="fas fa-arrow-right"></i>
                                </button>
                            </div>
                            <div class='mb-2'>
                                &nbsp;
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="d-block w-100" alt="Third slide">
                            <div class="title-container-blue">
                                <h1 class="display-4">Radiation Shielding</h1>
                            </div>
                            <img src="{% static 'images/radiation_icon.svg' %}" alt="" class="icon-background">
                            <h5 class="lead"><strong><u>1/32" to 1/8" Lead Wall</u></strong></h5>
                            <p class="lead">
                                Lead roll shielding is typically utilized for imaging modalities such as
                                Computed Tomography (CT), Ultrasound, and X-Ray.
                            </p>
                            <div class="text-center">
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#rad1Modal">
                                    Read More <i class="fas fa-arrow-right"></i>
                                </button>
                            </div>
                            <hr>
                            <h5 class="lead"><strong><u>1/4" to 3/4" Lead Wall</u></strong></h5>
                            <p class="lead">
                                Lead panel shielding is typically used for Positron Emission Tomography (PET) suites.
                            </p>
                            <div class="text-center">
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#rad2Modal">
                                    Read More <i class="fas fa-arrow-right"></i>
                                </button>
                            </div>
                            <hr>
                            <h5 class="lead"><strong><u>1" and up Lead Wall</u></strong></h5>
                            <p class="lead">
                                Lead brick shielding is typically used for Positron Emission Tomography (PET) suites and
                                linear accelerator (LINAC) vaults.</p>
                            <div class="text-center">
                                <button type="button" class="btn btn-primary mb-4" data-toggle="modal"
                                    data-target="#rad3Modal">
                                    Read More <i class="fas fa-arrow-right"></i>
                                </button>
                            </div>
                            <div class='mb-2'>
                                &nbsp;
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="d-block w-100" alt="Fourth slide">
                            <div class="title-container-yellow">
                                <h1 class="display-4">Therapy Shielding</h1>
                            </div>
                            <img src="{% static 'images/radiation_icon.svg' %}" alt="" class="icon-background">
                            <h5 class="lead"><strong><u>Radiation Therapy Sliding Door</u></strong></h5>
                            <p class="lead">
                                Our Radiation Therapy Sliding Door is a state-of-the-art electric operating system
                                and top mounted linear motion system for ease of opening and closing. These doors
                                are made up from lead & concrete ranging anywhere from 1,000 lbs to 30,000 lbs.
                                There is a battery backup system and emergency disconnect features.
                            </p>
                            <div class="text-center">
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#slidingModal">
                                    Read More <i class="fas fa-arrow-right"></i>
                                </button>
                            </div>
                            <hr>
                            <h5 class="lead"><strong><u>Radiation Therapy Swing Doors</u></strong></h5>
                            <p class="lead">
                                Our Radiation Therapy Swing Doors are designed to withstand all loads without
                                deflection that might inhibit operation or impair radiation protection.
                                Doors are equipped with a Brookfield operating system which is fully compliant
                                with UL 325 and ANSI 156.10 for swing doors weighing up to 20,000 lbs. Doors
                                are mounted to the frame with (2) Two HD Brookfield hinges. All of our doors
                                are supplied with a primer coat for finish by others.
                            </p>
                            <div class="text-center">
                                <button type="button" class="btn btn-primary mb-4" data-toggle="modal"
                                    data-target="#swingModal">
                                    Read More <i class="fas fa-arrow-right"></i>
                                </button>
                            </div>
                            <div class='mb-2'>
                                &nbsp;
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="d-block w-100" alt="Fifth slide">
                            <div class="title-container-blue">
                                <h1 class="display-4">AC ELF Shielding</h1>
                            </div>
                            <img src="{% static 'images/emi_icon.svg' %}" alt="" class="icon-background">
                            <p class="lead">
                                AC ELF Magnetic Shielding is typically comprised of fully welded 1/4”
                                aluminum plates. Aluminum is fastened to 3/4” plywood substrate. All seams,
                                joints, corners, and butts are fully welded to ensure electrical conductivity.
                                In some instances Low Carbon Steel is added to the design.
                            </p>
                            <p class="lead">This Electromagnetic shielded enclosure prevents interference of the
                                equipment
                                within the room caused by power, data, telephone lines, or metallic paths.
                                The shielded enclosure ensures the equipment will perform to its full potential.
                            </p>
                            <!-- Button trigger modal -->
                            <div class="text-center">
                                <a class="btn btn-primary mb-4" href="{% url 'ac_shielding' %}">
                                    Read More <i class="fas fa-arrow-right"></i>
                                </a>
                            </div>
                            <div class='mb-2'>
                                &nbsp;
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="d-block w-100" alt="Sixth slide">
                            <div class="title-container-yellow">
                                <h1 class="display-4">SCIF Shielding</h1>
                            </div>
                            <img src="{% static 'images/scif_icon.svg' %}" alt="" class="icon-background">
                            <p class="lead">
                                SCIF Shielding is typically comprised of a conductive aluminum radiant barrier.
                                Material is made up of a single layer of woven polyethylene material bonded and
                                sandwiched between two highly reflective aluminum surfaces. This aluminum foil
                                material is specifically designed to be used in SCIF applications. Shielding is
                                adhered to existing concrete/gypsum surfaces using construction adhesive or staples.
                                All seams are overlapped 6” and taped using 3” wide conductive aluminum tape.
                            </p>
                            <!-- Button trigger modal -->
                            <div class="text-center">
                                <a class="btn btn-primary mb-4" href="{% url 'scif_shielding' %}">
                                    Read More <i class="fas fa-arrow-right"></i>
                                </a>
                            </div>
                            <div class='mb-2'>
                                &nbsp;
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="d-block w-100" alt="Seventh slide">
                            <div class="title-container-blue">
                                <h1 class="display-4">PD Shielding</h1>
                            </div>
                            <img src="{% static 'images/lightning_bolt_icon.svg' %}" alt="" class="icon-background">
                            <h5 class="lead"><strong><u>Partial Discharge</u></strong></h5>
                            <p class="lead">
                                Partial Discharge (PD) Shielding are typically comprised of conductive galvanized panels
                                at the walls
                                and ceiling with a copper mesh ground plane at the floor. The host building is typically
                                electrically
                                isolated from the Faraday cage. This product is typically used in High Voltage (HV)
                                laboratories to
                                shield against air borne and ground borne electrical noise.
                            </p>
                            <!-- Button trigger modal -->
                            <div class="text-center">
                                <button type="button" class="btn btn-primary mb-4" data-toggle="modal"
                                    data-target="#pdShieldingModal">
                                    Read More <i class="fas fa-arrow-right"></i>
                                </button>
                            </div>
                            <div class='mb-2'>
                                &nbsp;
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="d-block w-100" alt="Eigth slide">
                            <div class="title-container-yellow">
                                <h1 class="display-4">Lead Enclosures</h1>
                            </div>
                            <img src="{% static 'images/radiation_icon.svg' %}" alt="" class="icon-background">
                            <p class="lead">
                                Prefabricated modular lead shielded enclosures consist of free standing structural steel
                                framed panels
                                and one or more doors with optional control windows. Sections consist of
                                steel-lead-steel panels fabricated
                                with the required thickness of sheet lead. All edges are covered by steel. All modular
                                panels incorporate
                                lead joint strips.
                            </p>
                            <div class="text-center mb-2">
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#pbEnclosureModal">
                                    Read More <i class="fas fa-arrow-right"></i>
                                </button>
                            </div>
                            <div class='mb-4'>
                                &nbsp;
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev pb-4" href="#carouselIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next pb-4" href="#carouselIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="full-width">
    <div style="background:#11495F !important" class="jumbotron jumbotron-fluid m-0">
        <div class="container text-white">
            <h1 class="display-4">What Sets Us Apart...</h1>
            <p class="lead">The things we believe gives us an edge over our competition.</p>
            <ul class="lead">
                <li>
                    <p class="lead">Real Customer Service</p>
                </li>
                <li>
                    <p class="lead">Project Management</p>
                </li>
                <li>
                    <p class="lead">Innovative Solutions</p>
                </li>
                <li>
                    <p class="lead">Experience</p>
                </li>
                <li>
                    <p class="lead">High Quality Product</p>
                </li>
                <li>
                    <p class="lead">In-House Fabrication</p>
                </li>
            </ul>
        </div>
    </div>
</div>

<script>
    $('.carousel').on('touchstart', function (event) {
        const xClick = event.originalEvent.touches[0].pageX;
        $(this).one('touchmove', function (event) {
            const xMove = event.originalEvent.touches[0].pageX;
            const sensitivityInPx = 5;

            if (Math.floor(xClick - xMove) > sensitivityInPx) {
                $(this).carousel('next');
            }
            else if (Math.floor(xClick - xMove) < -sensitivityInPx) {
                $(this).carousel('prev');
            }
        });
        $(this).on('touchend', function () {
            $(this).off('touchmove');
        });
    });
</script>

{% endblock %}