{% load static %}
<div class="modal fade" id="swingModal" tabindex="-1" role="dialog" aria-labelledby="swingModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Therapy Shielding <small class="text-muted"> | Swing Door</small></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="card-text">
                        <div class="container">
                            <div class="iactiveImg mb-4" data-ii="26264"></div><script src="https://interactive-img.com/js/include.js"></script>                            <!--<img class="w-100 mb-4" src="{% static 'images/mri_room_type_galv.png' %}">-->
                        </div>
                        <h5>Door Features</h5>
                        <ul>
                            <li>(Shielding material) 99.99% pure lead and 5% borated polyethylene</li>
                            <li>Bent steel frames to withstand all loads without deflection</li>
                            <li>Brookfield door operators</li>
                            <li>Push plates for push open, push close feature</li>
                            <li>Safety sensing edges</li>
                        </ul>
                        <h5>Surface Applied Swing Door</h5>
                        <ul>
                            <li>Retrofitted radiation shielded door. Applicable where there is an existing wall opening where 
                                demolition of wall to accommodate traditional doors are not an option.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
