<div class="modal fade" id="mriTouchModal" tabindex="-1" role="dialog" aria-labelledby="mriTouchModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">MRI/RF Door<small class="text-muted"> | Touch Screen</small></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="bd-door">
                    <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators my-4 mt-4">
                            <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselIndicators" data-slide-to="2"></li>
                            <li data-target="#carouselIndicators" data-slide-to="3"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="iactiveImg" data-ii="25626"></div><script src="https://interactive-img.com/js/include.js"></script>            
                                <div class="carousel-caption d-none d-block mb-4 text-dark">
                                    <h5>OPEN SCREEN (HOME)</h5>
                                    <p class="text-left"><strong>Functions:</strong>
                                        <ul class="text-left">
                                            <li>Open Button - Opens door</li>
                                            <li>Lock Button (Optional) - Opens access control screen </li>
                                            <li>Service Button - Opens log screen (password protected)</li>
                                        </ul>
                                    </p>
                                </div> 
                            </div>
                            <div class="carousel-item">
                                <div class="iactiveImg" data-ii="25647"></div><script src="https://interactive-img.com/js/include.js"></script>            
                                <div class="carousel-caption d-none d-block mb-4 text-dark">
                                    <h5>WARNING SCREEN</h5>
                                    <p class="text-left"><strong>Functions:</strong>
                                        <ul class="text-left">
                                            <li>When door is in open position.</li>
                                            <li style="list-style-type:none;">&nbsp;</li>
                                            <li style="list-style-type:none;">&nbsp;</li>
                                        </ul>
                                    </p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="iactiveImg" data-ii="25648"></div><script src="https://interactive-img.com/js/include.js"></script>            
                                <div class="carousel-caption d-none d-block mb-4 text-dark">
                                    <h5>(OPTIONAL) KEYPAD SCREEN</h5>
                                    <p class="text-left"><strong>Functions:</strong>
                                        <ul class="text-left">
                                            <li>User must enter correct passcode to transition to the 
                                                Open Screen. Code can be reset on Log Screen.</li>
                                            <li style="list-style-type:none;">&nbsp;</li>
                                            
                                        </ul>
                                    </p>
                                </div> 
                            </div>
                            <div class="carousel-item">
                                <div class="iactiveImg" data-ii="25649"></div><script src="https://interactive-img.com/js/include.js"></script>            
                                <div class="carousel-caption d-none d-block mb-4 text-dark">
                                    <h5>LOG SCREEN</h5>
                                    <p class="text-left"><strong>Functions:</strong>
                                        <ul class="text-left">
                                            <li>Back Button - Brings user to Open Screen</li>
                                            <li>Maintenance Log - logs date/time of services performed.</li>
                                            <li style="list-style-type:none;">&nbsp;</li>
                                        </ul>
                                    </p>
                                </div> 
                            </div>
                        </div>
                    </div>
                        <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>     
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>