<div class="modal fade" id="galvModal" tabindex="-1" role="dialog" aria-labelledby="galvModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">MRI/RF Shielding <small class="text-muted"> | Galvanized</small></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="container">
            <div class="iactiveImg mb-4" data-ii="25032"></div><script src="https://interactive-img.com/js/include.js"></script>
            </div>
            <div class="container">
                <p class="card-text lead" >The modular structure is traditionally used for high performance shielding. 
                    Panels are galvanized sheet steel bonded to a wood core that are attached 
                    via framing joints. The RF panel system will be supported via threaded rod 
                    and dielectric isolators attached to the deck above. This shielding system will perform beyond the 
                    attenuation levels required for all major OEM’s.</p>
                <a href="/rf_shielding/#components" class="btn btn-warning mb-3">RF Components <i class="fas fa-arrow-right"></i></a>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>
