<style>
    tr {
        white-space: nowrap;
        }
    .thead-dark th{
        background:#11495F !important; 
    }

    

    .table_margin {
        margin: 5px;
    }

    
</style>

<div class="modal fade" id="rfHoneycombChamberModal" tabindex="-1" role="dialog" aria-labelledby="rfHoneycombChamberModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Honeycomb Data
                <small class="text-muted"> | 1" Thick (Steel)</small></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" href="#eightInch" aria-controls="eightInch" role="tab" data-toggle="tab" aria-selected="true">1/8" Cell</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#threeSixtheenInch" aria-controls="threeSixtheenInch" role="tab" data-toggle="tab">3/16" Cell</a>
                </li>
            </ul>
            
            <!-- Tab panes -->
            <div class="tab-content mt-3">
                <div role="tabpanel" class="tab-pane active" id="eightInch">
                    <div class="container">
                        <div class="table-responsive">
                            <caption> <h3>Shielding Effectiveness</h3></caption>
                            <table class="table table-striped table-bordered table-sm">
                                
                                <thead class="thead-dark">
                                <tr>
                                    <th scope="col" class="table_margin" style="border:0px; "></th>
                                    <th scope="col" class="table_margin" style="border:0px; ">Frequency</th>
                                    <th scope="col" class="table_margin" style="border:0px; ">Performance</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row" rowspan="2" class="table_margin bg-dark-blue text-center"
                                    style="vertical-align : middle;text-align:center;">Magnetic</th>
                                    <td class="table_margin">1 kHz</td>
                                    <td class="table_margin">25 dB</td>
                                </tr>
                                <tr>
                                    <td class="table_margin">20 kHz</td>
                                    <td class="table_margin">120 dB</td>
                                </tr>
                                <tr>
                                    <th scope="row" rowspan="2" class="table_margin bg-dark-blue text-center"
                                    style="vertical-align : middle;text-align:center;">Electric</th>
                                    <td class="table_margin">100 kHz</td>
                                    <td class="table_margin">120 dB</td>
                                </tr>
                                <tr>
                                    <td class="table_margin">10 MHz</td>
                                    <td class="table_margin">120 dB</td>
                                </tr>
                                <tr>
                                    <th scope="row" rowspan="2" class="table_margin bg-dark-blue text-center"
                                    style="vertical-align : middle;text-align:center;">Planewave</th>
                                    <td class="table_margin">100 MHz</td>
                                    <td class="table_margin">120 dB</td>
                                </tr>
                                <tr>
                                    <td class="table_margin">1 GHz</td>
                                    <td class="table_margin">120 dB</td>
                                </tr>
                                <tr>
                                    <th scope="row" rowspan="3" class="table_margin bg-dark-blue text-center"
                                    style="vertical-align : middle;text-align:center;">Microwave</th>
                                    <td class="table_margin">10 GHz</td>
                                    <td class="table_margin">120 dB</td>
                                </tr>
                                <tr>
                                    <td class="table_margin">18 GHz</td>
                                    <td class="table_margin">120 dB</td>
                                </tr>
                                <tr>
                                    <td class="table_margin">40 GHz</td>
                                    <td class="table_margin">100 dB</td>
                                </tr>
                            
                                </tbody>
                            </table>
                        </div>

                        <div class="table-responsive">
                            <caption> <h3>Pressure Drop</h3></caption>
                            <table class="table table-striped table-bordered table-sm">
                                <tbody>
                                <tr>
                                    <th scope="row">Inches of Water</th>
                                    <td>0.025</td>
                                    <td>0.035</td>
                                    <td>0.045</td>
                                    <td>0.060</td>
                                </tr>
                                <tr>
                                    <th scope="row">At Feet Per Minute *</th>
                                    <td>400</td>
                                    <td>600</td>
                                    <td>800</td>
                                    <td>1,000</td>
                                </tr>
                            
                                </tbody>
                            </table>
                        </div>
                        <div>
                            <p>* Multiply by area to obtain CFM</p>
                        </div>
                    </div>
                </div>
            

                <!-- Tab panes -->

                <div role="tabpanel" class="tab-pane" id="threeSixtheenInch">
                    <div class="container">
                        <div class="table-responsive">
                            <caption> <h3>Shielding Effectiveness</h3></caption>
                            <table class="table table-striped table-bordered table-sm">
                                
                                <thead class="thead-dark">
                                <tr>
                                    <th scope="col" class="table_margin" style="border:0px; "></th>
                                    <th scope="col" class="table_margin" style="border:0px; ">Frequency</th>
                                    <th scope="col" class="table_margin" style="border:0px; ">Performance</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row" rowspan="2" class="table_margin bg-dark-blue text-center"
                                    style="vertical-align : middle;text-align:center;">Magnetic</th>
                                    <td class="table_margin">1 kHz</td>
                                    <td class="table_margin">25 dB</td>
                                </tr>
                                <tr>
                                    <td class="table_margin">20 kHz</td>
                                    <td class="table_margin">120 dB</td>
                                </tr>
                                <tr>
                                    <th scope="row" rowspan="2" class="table_margin bg-dark-blue text-center"
                                    style="vertical-align : middle;text-align:center;">Electric</th>
                                    <td class="table_margin">100 kHz</td>
                                    <td class="table_margin">120 dB</td>
                                </tr>
                                <tr>
                                    <td class="table_margin">10 MHz</td>
                                    <td class="table_margin">120 dB</td>
                                </tr>
                                <tr>
                                    <th scope="row" rowspan="2" class="table_margin bg-dark-blue text-center"
                                    style="vertical-align : middle;text-align:center;">Planewave</th>
                                    <td class="table_margin">100 MHz</td>
                                    <td class="table_margin">120 dB</td>
                                </tr>
                                <tr>
                                    <td class="table_margin">1 GHz</td>
                                    <td class="table_margin">120 dB</td>
                                </tr>
                                <tr>
                                    <th scope="row" rowspan="3" class="table_margin bg-dark-blue text-center"
                                    style="vertical-align : middle;text-align:center;">Microwave</th>
                                    <td class="table_margin">10 GHz</td>
                                    <td class="table_margin">120 dB</td>
                                </tr>
                                <tr>
                                    <td class="table_margin">18 GHz</td>
                                    <td class="table_margin">120 dB</td>
                                </tr>
                                <tr>
                                    <td class="table_margin">40 GHz</td>
                                    <td class="table_margin">N/A</td>
                                </tr>
                            
                                </tbody>
                            </table>
                        </div>

                        <div class="table-responsive">
                            <caption> <h3>Pressure Drop</h3></caption>
                            <table class="table table-striped table-bordered table-sm">
                                <tbody>
                                <tr>
                                    <th scope="row">Inches of Water</th>
                                    <td>0.015</td>
                                    <td>0.025</td>
                                    <td>0.042</td>
                                    <td>0.065</td>
                                </tr>
                                <tr>
                                    <th scope="row">At Feet Per Minute *</th>
                                    <td>400</td>
                                    <td>600</td>
                                    <td>800</td>
                                    <td>1,000</td>
                                </tr>
                            
                                </tbody>
                            </table>
                        </div>
                        <div>
                            <p>* Multiply by area to obtain CFM</p>
                        </div>
                        
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>
