<div class="modal fade" id="rad3Modal" tabindex="-1" role="dialog" aria-labelledby="rad3ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Radiation Shielding <small class="text-muted"> | Lead Bricks</small></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="container">
                <div class="iactiveImg mb-4" data-ii="25329"></div><script src="https://interactive-img.com/js/include.js"></script>                        </div>
            <h5 class="card-title lead"><strong>1" to 3" thick bricks</strong></h5>
            <p class="card-text lead">
                Lead Brick Specifications
                <ul class="lead">
                    <li>Available in thickness of 1”, 1-1/2”, 2”, 2-1/2” and 3”</li>
                    <li>Four edges tongue and grooved interlock</li>
                    <li>Lead brick manufactured from ASTM-B29 pig lead alloyed as mentioned above</li>
                </ul></p>
                <a href="/radiation_shielding/#components" class="btn btn-warning mb-3">Components <i class="fas fa-arrow-right"></i></a>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>
