<div class="modal fade" id="rad1Modal" tabindex="-1" role="dialog" aria-labelledby="rad1ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Radiation Shielding <small class="text-muted"> | Lead Rolls</small></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="iactiveImg mb-4" data-ii="25330"></div><script src="https://interactive-img.com/js/include.js"></script>
                </div>
                <h5 class="card-title lead"><strong>1/32" to 1/8" thick rolls</strong></h5>
                <p class="card-text lead">
                    Lead roll shielding is typically utilized for imaging modalities such as Computed Tomography (CT), Ultrasound, 
                    and X-Ray. Lead rolls are used in lieu of lead lined gypsum to increase the efficiency of installation. 
                    This method has shown to be significantly cheaper, as well as dramatically reducing the installation time.</p> 
                    <a href="/radiation_shielding/#components" class="btn btn-warning mb-3">Components <i class="fas fa-arrow-right"></i></a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
