{% load static %}
<div class="modal fade" id="slidingModal" tabindex="-1" role="dialog" aria-labelledby="slidingModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Therapy Shielding <small class="text-muted"> | Swing Door</small></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="card-text">
                        <div class="container">
                            <div class="iactiveImg mb-4" data-ii="26263"></div><script src="https://interactive-img.com/js/include.js"></script>
                        </div>
                        <h5>Door Features</h5>
                        <ul>
                            <li>Safety System</li>
                            <li>Battery Back-up System</li>
                            <li>Manual Egress</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
