<div class="modal fade" id="copperModal" tabindex="-1" role="dialog" aria-labelledby="copperModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">MRI/RF Shielding <small class="text-muted"> | Copper</small></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="iactiveImg mb-4" data-ii="25160"></div><script src="https://interactive-img.com/js/include.js"></script>            </div>
                <div class="container">
                    <p class="card-text lead" >This non-ferrous enclosure is ideal for shielding applications with restricted site access. The lightweight 
                        copper makes for easy navigation through job sites with limited space. Copper sheets attached to a plywood 
                        substrates and the copper is soldered together at all seams.The plywood, framing, and support are completed 
                        by others. The copper material is easily adaptable to various room configurations and is accepted for a wide 
                        array of applications. This shielding system will perform beyond the attenuation levels required for all 
                        major OEM’s.</p>
                    <a href="/rf_shielding/#components" class="btn btn-warning mb-3">RF Components <i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
