<div class="modal fade" id="rad2Modal" tabindex="-1" role="dialog" aria-labelledby="rad2ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Radiation Shielding <small class="text-muted"> | Lead Sheets</small></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="container">
                <div class="iactiveImg mb-4" data-ii="25422"></div><script src="https://interactive-img.com/js/include.js"></script>                        </div>
            <h5 class="card-title lead"><strong>1/4" to 3/4" thick sheets</strong></h5>
            <p class="card-text lead">
                Lead panel shielding is typically used for Positron Emission Tomography (PET) suites. The assembly 
                consists of lead sheet laminated to 3/4” plywood and are individually fastened to the parent wall. 
                Panels butt against adjacent panels and seam strips are utilized at all joints to ensure a leak 
                free environment.</p>
                <a href="/radiation_shielding/#components" class="btn btn-warning mb-3">Components <i class="fas fa-arrow-right"></i></a>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>
